
    <!-- HOME -->
    <section id="home" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="home-info">
                        <h1>We help you find the best parking slot around your nearest location.</h1>
                        <a href="#about" class="btn section-btn smoothScroll">Find a packing spot</a>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="home-video">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.googlemaps.com" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- WORK -->
    <section id="work" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <h2>Our work</h2>
                        <span class="line-bar">...</span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <!-- WORK THUMB -->
                    <div class="work-thumb">
                        <a href="images/work-image1.jpg" class="image-popup">
                            <img src="images/" class="img-responsive" alt="Work">

                            <div class="work-info">
                                <h3>Clean &amp; Minimal</h3>
                                <small>Finding your parking destinations</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>